<div id="buildings">
    <br/>
    总计可用工人: <b id="buildingsTotalWorkers"></b> (<b id="workersPercentage"></b>% 人口)
    无业游民: <b id="unemployed"></b><br/>
    总计用工岗位: <b id="buildingsTotalWorkPlaces"></b> (<b id="buildingDistribution"></b>% 已就职)
    <br/>
    <table id="buildingsTable" class="dataTable" width="100%">
        <tr>
            <th align="left">建筑</th>
            <th>数量</th>
            <th>工人</th>
            <th class="workerDistribution">分配</th>
            <th colspan="2">购买</th>
        </tr>
    </table>
    <br/>
    <b>如果你按住SHIFT键:</b><br/>
    * 每次点击可以购买10个建筑物.<br/>
    * 每次点击可以改变10个工人分配<br/>
    <br/>
    <b>如果你按住CTRL键:</b><br/>
    * 每次点击可以购买100个建筑物<br/>
    * 每次点击可以改变100个工人分配<br/>
    <br/>
    <b>哪些是工人?</b><br/>
    
    每个18岁~65岁之间的男性. <br/>
    
    60%的18岁~65岁之间的女性.<br/>
    <br/>
    <b>如何在工作工位分配工人?</b><br/>
    
    工人首先被默认分配到第一个建筑物.
    第一个建筑物不需要工人后,会自动向第二个建筑物分配工人.<br/>
    
    如果你不想让某个工厂填满工人,你可以通过点击+/-按钮来改变比例.
    (你需要购买一次升级后才能看到+/-按钮)<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>