<div id="buildings">
    <br/>
    总计可用工人: <b id="buildingsTotalWorkers"></b> (<b id="workersPercentage"></b>% 人口)
    无业游民: <b id="unemployed"></b><br/>
    总计用工岗位: <b id="buildingsTotalWorkPlaces"></b> (<b id="buildingDistribution"></b>% 已就职)
    <br/>
    <table id="buildingsTable" class="dataTable" width="100%">
        <tr>
            <th align="left">建筑</th>
            <th>数量</th>
            <th>工人</th>
            <th class="workerDistribution">分配</th>
            <th colspan="2">购买</th>
        </tr>
    </table>
    <br/>
    <b>如果你按住SHIFT键:</b><br/>
    * 每次点击可以购买10个建筑物.<br/>
    * 每次点击可以改变10个工人分配<br/>
    <br/>
    <b>If you hold down CTRL key:</b><br/>
    * you can buy 100 buildings with a single click.<br/>
    * you can change worker distribution by 100 with a single click<br/>
    <br/>
    <b>Who does the work?</b><br/>
    Every male between age 18 and 65. <br/>
    60% of women between age 18 and 65.<br/>
    <br/>
    <b>How are people distributed among workplaces?</b><br/>
    People are distributed between buildings starting from the first.
    If all work places filled for the first building, second building work places will start to get filled.<br/>
    If you don't want to fill all workplaces for certain building, change values by clicking + or - buttons on the
    building row. (You have to buy an upgrade to see + or - buttons)<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>