<div id="buildings">
    <br/>
    Total available workers: <b id="buildingsTotalWorkers"></b> (<b id="workersPercentage"></b>% of population)
    Unemployed: <b id="unemployed"></b><br/>
    Total work stations: <b id="buildingsTotalWorkPlaces"></b> (<b id="buildingDistribution"></b>% filled)
    <br/>
    <table id="buildingsTable" class="dataTable" width="100%">
        <tr>
            <th align="left">Building</th>
            <th>Am.</th>
            <th>Workers</th>
            <th class="workerDistribution">Distr.</th>
            <th colspan="2">Buy</th>
        </tr>
    </table>
    <br/>
    <b>If you hold down SHIFT key:</b><br/>
    * you can buy 10 buildings with a single click.<br/>
    * you can change worker distribution by 10 with a single click<br/>
    <br/>
    <b>If you hold down CTRL key:</b><br/>
    * you can buy 100 buildings with a single click.<br/>
    * you can change worker distribution by 100 with a single click<br/>
    <br/>
    <b>Who does the work?</b><br/>
    Every male between age 18 and 65. <br/>
    60% of women between age 18 and 65.<br/>
    <br/>
    <b>How are people distributed among workplaces?</b><br/>
    People are distributed between buildings starting from the first.
    If all work places filled for the first building, second building work places will start to get filled.<br/>
    If you don't want to fill all workplaces for certain building, change values by clicking + or - buttons on the
    building row. (You have to buy an upgrade to see + or - buttons)<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>