<div id="futureUi">

    <div style="text-align:center; float:left;">
        <img src="img/cool.jpg" style="margin: 0 10px 10px 0;"/>
    </div>
    <br/>
    I really like making games and have been building them from my free time for a very long time. (Check my games)<br/>
    <br/>
    But as game making is very time consuming (I have two young children and a full time job at a startup. So if you can
    relate, imagine that :p),
    I highly appreciate any support - would it be ideas, comments, criticism or monetary!<br/>
    <br/>
    With this game I have good ideas on what features to add and if you like this game, I kindly ask you to show your
    support by making a
    purchase. I don't expect these games to pay a salary, but to cover at least some of the time I put into making them.
    :)<br/>
    I really don't like monetizing strategies games use nowadays - pay for every freaking move, so most certainly I will
    not follow them.<br/>
    <br/>
    The money you spend will not be for nothing:<br/><br/>
    <a href="javascript:void(0)" id="purchaseSmall" class="buyPackage">
        Small support package will give you <b>5000 bonus years</b> - 30 Kreds
    </a>
    <br style="clear:both"/>
    <a href="javascript:void(0)" id="purchaseBig" class="buyPackage">
        Big support package will give you <b>20 000 bonus years</b> - 50 Kreds <br/>
        <div style="text-align:right; padding-right: 20px;">
            <b style="color:red; font-size: 1.1em;">58% cheaper!</b>
        </div>
    </a>
    <br style="clear:both"/>
    <a href="javascript:void(0)" id="purchaseHuge" class="buyPackage">
        Huge support package will give you <b>80 000 bonus years</b> - 110 Kreds <br/>

        <div style="text-align:right; padding-right: 20px;">
            <b style="color:red; font-size: 1.1em;">77% cheaper!</b>
        </div>
    </a>
    <br style="clear:both"/>
    <a href="javascript:void(0)" id="purchaseChronometer" class="buyPackage">
        Chronometer makes time run <b>3x as fast!</b> - {{#if chronometerBought}}Bought{{else}}225 Kreds{{/if}} <br/>

        <div style="text-align:right; padding-right: 20px;">
            <b style="color:red; font-size: 1.1em;">Woaaaaah!</b>
        </div>
    </a>
    <br style="clear:both"/>
    <br/>
    <b>By the way, if you hard reset you will still get your years for a quick start!</b><br/>
    If you are a super supporter, you can actually buy these multiple times!<br/>
    To use bonus years, click on the button in the header, next to the "Bonus years" text. Bonus years make game run a
    lot faster!<br/>
    <br/>
</div>