<div id="futureUi">

    <div style="text-align:center; float:left;">
        <img src="img/cool.jpg" style="margin: 0 10px 10px 0;"/>
    </div>
    <br/>
    我真的很喜欢做游戏,并利用我的空余时间一直在做游戏. (看看我的其他游戏)<br/>
    <br/>
    但制作游戏非常耗时间(我有两个孩子并有一份全职的工作.所以如果你能认同我,想象一下 :p),
    我非常感谢你们的支持 - 无论是建议,评论,批评甚至是赞助!<br/>
    <br/>
    我现在还有很多好的主意将在以后添加到游戏中.
	如果你喜欢这个游戏,我诚恳的请求您对我进行赞助.
	我没想过利用这个游戏得到收益,不过还是希望我花在制作这个游戏上的时间能得到一些回报.
    :)<br/>
    我真的不喜欢现在的那些死要钱的策略游戏 - 什么东西都要花钱,我不会那样做.<br/>
    <br/>
    你花的钱不会白花:<br/><br/>
    <a href="javascript:void(0)" id="purchaseSmall" class="buyPackage">
        小型资源包会给你  <b>5000 奖励年份</b> - 30 Kreds
    </a>
    <br style="clear:both"/>
    <a href="javascript:void(0)" id="purchaseBig" class="buyPackage">
        大型资源包会给你 <b>20000 奖励年份</b> - 50 Kreds <br/>
        <div style="text-align:right; padding-right: 20px;">
            <b style="color:red; font-size: 1.1em;">58% 折扣!</b>
        </div>
    </a>
    <br style="clear:both"/>
    <a href="javascript:void(0)" id="purchaseHuge" class="buyPackage">
        巨型资源包会给你 <b>80000 奖励年份</b> - 110 Kreds <br/>

        <div style="text-align:right; padding-right: 20px;">
            <b style="color:red; font-size: 1.1em;">77% cheaper!</b>
        </div>
    </a>
    <br style="clear:both"/>
    <a href="javascript:void(0)" id="purchaseChronometer" class="buyPackage">
        计时器可以让时间流速达到 <b>3倍速率!</b> - {{#if chronometerBought}}Bought{{else}}225 Kreds{{/if}} <br/>

        <div style="text-align:right; padding-right: 20px;">
            <b style="color:red; font-size: 1.1em;">哇噢噢噢噢!!</b>
        </div>
    </a>
    <br style="clear:both"/>
    <br/>
    <b>顺便一提,如果你重置游戏,你仍然可以得到一定的时间作为快速起步的资本!</b><br/>
    如果你是超级支持者,你可以进行多次购买!<br/>
    要使用奖励年份,点击顶部的按钮,就在"奖励年份"文本旁边.奖励年份可以让游戏运行更快!!<br/>
    <br/>
</div>