<div class="overallInfo">
    <div id="yearInfo">
        Year: <b id="year">0</b>
        <span id="extraYearsArea">Bonus years: <b id="extraYears">0</b></span>
    </div>
    <a href="javascript:void(0);" class="controlButton" id="changePlayModeButton">Play</a>
    <a herf="javascript:void(0;" class="controlButton" id="changeFastPlayModeButton">Play fast</a>
    <a href="javascript:void(0);" id="settingsButton">Settings</a>

</div>
<table width="100%">
    <tr>
        <td class="layoutLeft" valign="top">
            <div class="resources">

            </div>
            <div class="populationInfo">

            </div>
        </td>
        <td class="layoutRight" valign="top">
            <div class="layoutMenu">
                <a href="javascript:void(0);" class="layoutButton selected" data-id="resourcesOverview">Overview</a>
                <a href="javascript:void(0);" class="layoutButton" data-id="buildings">Build</a>
                <a href="javascript:void(0);" class="layoutButton" data-id="research">Research</a>
                <a href="javascript:void(0);" class="layoutButton" data-id="wars" id="warsButton">War</a>
                <a href="javascript:void(0);" class="layoutButton" data-id="achievements">Achieve</a>
                <a href="javascript:void(0);" class="layoutButton" data-id="genetics" id="geneticsButton">Genetics</a>
                <a href="javascript:void(0);" class="layoutButton" data-id="future" id="futureButton">Future</a>
            </div>
            <div id="layoutMenuContent">

            </div>
        </td>
    </tr>
</table>