<div id="introBg"></div>
<div id="intro">
    <center><b style="font-size:1.1em;">Welcome to world idle!</b></center>
    <br/>
    <br/>
    This is a fun world simulator, you have your population who wants different resources.
    One of the most <b style="color:orange">important resources is food</b>, people need it to survive! <br/>
    <br/>
    In this game <b style="color:orange">people age</b> and you can actually see distribution among ages.
    For example, if you have lots of old people, they don't populate that much. If you have lots of 25 year old, they
    populate much more compared to elderly.<br/>
    <br/>
    After you have slightly more people, you can <b style="color:red">start wars</b> with other countries!<br/>
    <br/>
    This idle game is <b style="color:green">a bit more complex than usual idle games</b>, so take this as a challenge
    and play around.<br/>
    <br/>
    <a href="javascript:void(0)" id="startGameButton">Start game and have fun!</a>
</div>