<div id="introBg"></div>
<div id="intro">
    <center><b style="font-size:1.1em;">欢迎来到世界放置!</b></center>
    <br/>
    <br/>
     这是一个有趣的模拟世界,你拥有你的人民,他们想要不同的资源. 其中<b style="color:orange">最重要的资源是食物</b>,民众需要这个来保证生存!  <br/>
    <br/>
     在游戏中 <b style="color:orange">民众的年龄会发生变化</b> 而你实际上可以看到年龄之间的分布。
    举例来说,如果你拥有许多老人,他们基本不会产生新的人口.如果你有大量25岁的人,他们会产生更多人口.<br/>
    <br/>
     等到你的人口稍微多了一点,你可以 <b style="color:red">发动战争</b> ,向其他国家宣战!<br/>
    <br/>
     这个放置游戏是 <b style="color:green">比其他常见的放置游戏更复杂的一款游戏</b>, 所以把它当成一个挑战,认真对待吧.<br/>
    <br/>
    <a href="javascript:void(0)" id="startGameButton">开始游戏,获得乐趣!</a>
</div>