<div id="overviewTab" style="width:240px; overflow:hidden">
    <table>
        <tr>
            <td class="rowTitle" style="width: 80px;">Population:</td>
            <td class="populationText" style="width: 160px;"><b id="totalPopulation">0</b> <span id="accretion">+123</span></td>
        </tr>
        <tr>
            <td class="rowTitle">Mood:</td>
            <td><span id="mood">100</span></td>
        </tr>
        <tr>
            <td class="rowTitle">
                <div class="accretionMales" style="float:left; width:15px; height:15px; margin-right: 5px;"></div>
                Men:
            </td>
            <td><span id="accretionMalesNum">0</span></td>
        </tr>
        <tr>
            <td class="rowTitle">
                <div class="accretionFemales" style="float:left; width:15px; height:15px; margin-right: 5px;"></div>
                Women:
            </td>
            <td><span id="accretionFemalesNum">0</span></td>
        </tr>
    </table>
    <br/>
    Population age distribution
    <table width="100%">
        <tr>
            <td width="50%" id="accretionFemaleTable" valign="top">A</td>
            <td valign="top">
                {{#each ages}}
                <div class="accretionAge" style="height:{{height}}px">
                    <span>{{{age}}}</span>
                </div>
                {{/each}}
            </td>
            <td width="50%" id="accretionMaleTable" valign="top">B</td>
        </tr>
    </table>

</div>