<div id="resourcesOverview">
    这里综合显示了你的资源生产,使用,等等的情况.
    <table id="resourcesOverviewTable" class="dataTable" width="100%">
        <tr>
            <th align="left">资源</th>
            <th>库存</th>
            <th>生产</th>
            <th>需求</th>
            <th>变化</th>
            <th>利润</th>
        </tr>
    </table>
    <br/>
    <b>怎么产生经济效益?</b><br/>
    一些建筑物可以生产资源,比如农场出产食物,伐木工出产木头,等等.<br/>
    <br/>
    民众生活需要购买资源.如果你提供更多资源,最大情绪将会增加,人口的增长就会加快.<br/>
    <br/>
    民众真的需要食物.如果你的食物不足,他们的情绪会开始低落,他们不再产生新的人口并会开始死亡.但是只要你能保证食物充足,他们就不会在乎其他,他们会不断产生新的人口直到你食物不足.直到度过饥荒时期.<br/>
    人口的 <u>起伏波动很常见</u>,你永远无法达到完美的平衡,有时候你甚至会因为人口太多而造成食物短缺.
    这是一个会自我解决的问题,只要人口不断死亡后对食物的需求降到生产线以下,这个问题就会得到解决.
    <br/>
    <br/>
    <b>如何产生新的人口?</b><br/>
    
    我觉得你应该知道吧. :p  <br/>
    
    但这就像在现实生活中: <br/>
    
    孩童(年龄小于16岁)不能制造小宝宝. <br/>
    
    然后那些年轻人(年龄在16-40岁),他们会制造小宝宝.大部分的婴儿都是在父母20岁时出生.<br/>
    
    在40岁之后,人们不再怀孕产子.<br/>
    <br/>
    
    这意味着,如果你的人口老龄化,婴儿的出生率就会降低.如果你的人口年轻化,婴儿的出生率就会提高.<br/>
    <br/>
    <b>如何控制人口?</b><br/>
    
    在某些情况下,你可能想减少你的人口总数 - 比如你想将收集的资源供给研究中心或武器工厂.<br/>
    
    选择 1: 只要减少农场的工人.(需要升级工人管理)<br/>
    
    选择 2: 让人民上战场<br/>
    <br/>
    <b>什么是奖励年份?</b><br/>
    
    当你关闭游戏后,下次再进入游戏你会获得离线收益.奖励年份可以让游戏进行得更快.
    你还可以在未来界面获得奖励年份.<br/>
    <br />
    <b>为什么我的食物充足但是人口增长缓慢甚至负增长?</b><br/>
    
    这比较少见,但是有可能发生:<br/>
    
    1) 你的人民之前闹过大饥荒,期间没什么婴儿出生.<br/>
    
    2) 你现在拥有大量老人而年轻人不多.所以导致婴儿出生率很低且40~80岁之间的人口正在死亡.<br/>
    
    3) 这种情况等到饥荒时期出生的人死亡后就会得到解决.<br/>
    
    对了,现在还很粗糙,但是,生活基本上不就是这样么 :)<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>