<div id="resourcesOverview">
    This is overview of your resource production, usage etc.
    <table id="resourcesOverviewTable" class="dataTable" width="100%">
        <tr>
            <th align="left">Resource</th>
            <th>Stock</th>
            <th>Production</th>
            <th>Demand</th>
            <th>Change</th>
            <th>Profit</th>
        </tr>
    </table>
    <br/>
    <b>How economics work?</b><br/>
    Some buildings produce resources, for example farms produce food, wood cutters produce wood etc.<br/>
    <br/>
    People buy resources to live. If you provide more resources, maximum mood will increase and people will populate
    faster.<br/>
    <br/>
    People really need food. If you run out of food, their mood starts to drop, they
    don't populate anymore and starve to death. Unfortunately they don't care much if you can produce enough food or
    not, they
    will still populate until you run out of food. Just live through the starvation time.<br/>
    Population <u>fluctuation is normal</u>, you can never get to perfect equilibrium and at some point you will run out
    of food.
    This is a self solving problem, as people die and food consumption falls below production.
    <br/>
    <br/>
    <b>How people populate?</b><br/>
    Well I think you don't need a lesson here. :p <br/>
    But it is like in real life: <br/>
    Children (age <16) don't make that many babies. <br/>
    Then there are young people ages 16-40, they make babies. Most babies are made by people at their twenties.<br/>
    After 40+, people don't make that many babies anymore.<br/>
    <br/>
    This means, that if your population is old, not that many babies are born. If your population is young, expect many
    babies.<br/>
    <br/>
    <b>How to control population?</b><br/>
    In some situations you might want to reduce max amount of people you have - for example if collecting resources for
    research center or weapons factory.<br/>
    Option 1: Just reduce amount of workers in farms. (Needs worker management upgrade)<br/>
    Option 2: Send people to war<br/>
    <br/>
    <b>What are bonus years?</b><br/>
    You get bonus years if game is offline (closed) and you come back. Bonus years can be used to run game much faster.
    You can also get bonus years under future tab.<br/>
    <br />
    <b>Why is my population growth negative, though I have food?</b><br/>
    This will recover, but probably happens because:<br/>
    1) You had big starvation and during that people didn't made babies.<br/>
    2) Now you have a lot of old people and not that many young people. Therefore less babies and more deaths in the
    next 40-80 years.<br/>
    3) It will recover when starvation time people are dead.<br/>
    Ouch, that is rough, but well, this is how life works :)<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>