<tr data-id="{{id}}" class="resourcesOverviewRow" {{#if visible}}style="display:none"{{/if}}>
    <td width="14%" style="color:{{color}}">{{name}}</td>
    <td data-name="stock" align="center" width="14%"></td>
    <td data-name="production" align="center" width="14%" style="color:green"></td>
    <td data-name="populationNeeds" align="center" width="14%" style="color:red"></td>
    <td data-name="change" align="center" width="14%"></td>
    <td data-name="saleProfit" style="color:green" align="center" width="14%"></td>
</tr>