<div id="settingsBg"></div>
<div id="settings">
    <a href="javascript:void(0);" id="closeButton" style="float:right; display:block;">关闭</a><br/>
    <br/>
    这是你的游戏存档.你可以把它复制下来保存在一个安全地地方 :)<br/>
    <textArea type="textArea" name="saveData" id="saveData" class="saveData"></textArea><br/>
    如果你想要载入游戏,替换数据存档后点击
    <a href="javascript:void(0);" id="loadButton">加载</a><br/>
    <br/>
    <br/>
    <br/>

    <div style="text-align:center">
        <a href="javascript:void(0);" id="resetButton" style="color:red;">硬复位</a>
    </div>
    <br/>
    <br/>
    <center>版本号: 1.11</center>
</div>