<div id="wars">
    <br/>
    <span class="warSection">Armies</span><br/>
    <table class="armyTable">
        {{#each armies}}
        <tr>
            <td width="50" rowspan="3" valign="top" class="armyNo" style="height:100px">1</td>
            <td width="70" align="right">Soldiers:</td>
            <td width="130" class="value">{{soldiers}}</td>
            <td width="70" align="right">Status:</td>
            <td><b style="color:{{stateColor}}">{{state}}</b> {{actionYears}} more years</td>
            <td rowspan="3" data-id="{{id}}" width="120" valign="middle" style="text-align:center;">
                {{#if canChangeArmyParams}}
                <a href="javascript:void(0);" data-countryId=""
                   class="actionButton {{#if noAttackCountryId}}actionSelected{{/if}}">Hold</a>
                {{#each countries}}
                <a href="javascript:void(0);" data-countryId="{{id}}"
                   class="actionButton  {{#if selected}}actionSelected{{/if}}">Go {{name}}</a>
                {{/each}}
                {{else}}
                <b style="color:red">FIGHTING</b>
                {{/if}}
        </tr>
        <tr>
            <td align="right">Weapons:</td>
            <td class="value">{{weapons}}</td>
            <td align="right">Attack:</td>
            <td class="value">{{attack}}</td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
        {{/each}}
    </table>
    <br/><br/>
    <span class="warSection">Countries</span>
    <table class="armyTable">
        {{#each countries}}
        <tr>
            <td rowspan="2" width="150" valign="top"><span class="countryTitle">{{name}}</span><br/><span
                    style="font-size:0.8em">{{description}}</span></td>
            <td width="60" align="right">Soldiers:</td>
            <td width="130" class="value">{{soldiers}}</td>
            <td width="60" align="right">Attack:</td>
            <td class="value">{{attack}}</td>
        </tr>
        <tr>
            <td align="right">{{productionResource}}:</td>
            <td class="value">{{production}}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="5">
                {{#each tiles}}
                <div class="landTile {{type}}">
                    <div class="inner">{{health}}%</div>
                    <div class="lifeBar" style="width:{{health}}%"></div>
                </div>
                {{/each}}
            </td>
        </tr>
        <tr class="armySeparator">
            <td colspan="5">&nbsp;</td>
        </tr>
        {{/each}}
    </table>
    <br/><br/>
    {{#if production}}
    <span class="warSection">Conquered countries total production</span>
    <table class="dataTable">
        <tr>
            <th width="100">Resource</th>
            <th width="250">Production</th>
        </tr>
        {{#each production}}
        <tr>
            <td style="color:{{color}}">{{name}}</td>
            <td>{{value}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
    <br/><br/>
    <b>How to get soldiers?</b><br/>
    Each worker in barracks is considered to be in the army. Army gets new soldiers only when resting. <br/>
    If resting ends, soldiers in the army go fighting. Soldiers that are in war can't be called back. <br/>
    <br/>
    <b>How is my army strength calculated?</b><br/>
    Each soldier gives some strength + each weapon gives some strength. Army fighting without weapons is much much
    weaker.<br/>
    <br/>
    <b>How fighting works?</b><br/>
    Each army has two states:<br/>
    1) Resting - this means army is just idle and collecting resources.<br/>
    2) Fighting - this means army is fighting in some country until it runs out of activity years or gets killed <br/>
    <br/>
    <b>What fighting gives me?</b><br/>
    To conquer a country you have to capture every tile of that country. Each tile gets a bit harder to conquer.<br/>
    Conquered countries give you extra resources <b>EVERY YEAR</b>, so each country is very valuable!<br/>
    <br/>
    <b>How to get a big army?</b><br/>
    You probably have to redistribute your workers - for example close down non important buildings for fighting
    (research, weapons factories etc). This allows many more people to join army.<br/>
    But be careful when fighting strong enemy, because number of dead soldiers directly affects population and therefore
    birth rates. Going with huge army and losing will affect your population many many years later.<br/>
    <b>After fighting where do the weapons go?</b><br/>
    If you lose, then all weapons are lost. If army wins, then you get back half the weapons, other weapons are broken
    unfortunately.
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>